.services-section {
  text-align: center;
  padding: 2rem;
  font-family: "Poppins";
}

.services-section h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.service-card {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.icon {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.service-card h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.service-card p {
  font-size: 0.9rem;
  color: #666;
}
