.footer-section {
  height: 250px;
  background-color: rgb(232, 232, 232);
  padding: 12px;
  width: 100%;
  font-family: "Poppins";
  border-radius: 6px;
  padding-top: 50px;
}

.footer-section p {
  margin: 8px 0px;
}

.footer-section button {
  border: none;
  padding: 12px 18px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  background-color: #3d66bd;
  border-radius: 8px;
}
